@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

.blog-section {
  position: relative;
  margin-top: -40px;
  /* padding: 80px 0; */
  overflow: visible;
}

.blog-background {
  background-image: url(/blog_bg.png);
  background-position: center top;
  background-repeat: repeat;
  background-size: auto;
  /* top: -30px; */
  position: relative;
  min-height: 110vh;
  background-color: #f5f5f5;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 60px;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  z-index: 2;
}

.blog-header {
  margin-bottom: 60px;
}

.blog-description-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color:black;
  line-height: 1.6;
  margin: 20px 0 0 0;
  max-width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  top: 50px;
  top: 100px;
  color: #1a1a1a;
  margin: 40px 0 15px 0;
  letter-spacing: 1px;
}

.text-uppercase {
  text-transform: uppercase;
}

.wt-separator-outer {
  width: 80px;
  margin: 0;
}

.wt-separator {
  height: 3px;
  width: 100%;
  background-color: #ebcd1e;
}

.bg-black {
  background-color: #1a1a1a;
}

.blog-content {
  display: flex;
  margin-top:-40px;
  gap: 60px;
  align-items: flex-start;
  overflow: visible;
}

.blog-left {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  overflow: visible;
}

.blog-right {
  flex: 0 0 40%;
  position: relative;
  max-width: 50%;
  overflow: visible;
}

.blog-card-small {
  position: relative;
  overflow: visible;
}

.blog-card-large {
  position: relative;
  overflow: visible;
}

.blog-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.latest-blog-dark-outer {
  overflow: visible;
}

.latest-blog-dark-outer {
  margin-left: 20px;
  height: 250px;
  position: relative;
  overflow: visible;
}

.latest-blog-dark-outer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blog-card-small .blog-image-wrapper {
  height: 250px;
}

.latest-blog-dark-outer2 {
  height: 530px;
  margin-right: 61px;
  max-width: 100%;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.blog-card-large .blog-image-wrapper {
  height: 530px;
}

.blog-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-blog-dark {
  position: absolute;
  left: -20px;
  bottom: 20px;
  width: 260px;
  min-height: 120px;
  background-color: #000;
  padding: 20px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-left: 3px solid #ebcd1e;
}

.blog-date-tag-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.blog-date-tag-left span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: rotate(180deg);
}

.blog-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 20px 20px 60px;
  min-height: 120px;
}

.blog-overlay-large {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.blog-date-tag {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 3;
}

.blog-date-tag span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  transform: rotate(180deg);
}

.blog-text-content {
  margin-left: 20px;
  position: relative;
  z-index: 2;
}

.blog-text-content-large {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1.4;
}

.blog-card-title-large {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

.blog-description {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
  margin: 0 0 20px 0;
}

.blog-read-more {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  align-self: flex-start;
}

.blog-read-more::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.text-white {
  color: #fff;
}

.square {
  position: absolute;
  right: -60px;
  bottom: 60px;
  width: 400px;
  min-height: 400px;
  padding: 25px 70px 25px 25px;
  border: 15px solid #000;
  z-index: 1;
  background: transparent;
}

.latest-blog-square {
  position: absolute;
  right: -60px;
  bottom: 60px;
  width: 400px;
  min-height: 400px;
  padding: 25px 70px 25px 25px;
  border: 15px solid #000;
  z-index: 10;
  background: transparent;
}

.blog-card-large {
  position: relative;
}

.m-t0 {
  margin-top: 0;
}

.m-b10 {
  margin-bottom: 10px;
}

.m-b30 {
  margin-bottom: 30px;
}

.font-30 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-700 {
  font-weight: 700;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.font-12 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.latest-blog-square p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
  margin: 0 0 20px 0;
}

.latest-blog-square a {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
}

.v-date {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: auto;
}

.latest-blog-dark .v-date {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .blog-content {
    flex-direction: column;
  }

  .blog-left {
    flex: 0 0 100%;
    flex-direction: row;
  }

  .blog-right {
    flex: 0 0 100%;
  }

  .square {
    right: -30px;
    width: 300px;
    min-height: 400px;
  }
}

@media (max-width: 992px) {
  .container1 {
    margin-left: 0;
  }

  .blog-header {
    margin-bottom: 40px;
    text-align: center;
  }

  .blog-title {
    margin: 30px 0 12px 0;
  }

  .blog-description-text {
    margin: 15px auto 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .blog-section {
    padding: 50px 0;
    margin-top: -20px;
  }

  .blog-background {
    min-height: auto;
    padding-bottom: 40px;
  }

  .container1 {
    padding: 0 15px;
  }

  .blog-header {
    margin-bottom: 35px;
  }

  .blog-title {
    font-size: 32px;
    margin: 20px 0 12px 0;
  }

  .blog-description-text {
    font-size: 16px;
    -webkit-line-clamp: 3;
  }

  .blog-content {
    gap: 30px;
    margin-top: -20px;
  }

  .blog-left {
    flex-direction: column;
    gap: 20px;
  }

  .blog-right {
    max-width: 100%;
  }

  .blog-card-small .blog-image-wrapper {
    height: 250px;
    margin-left: 10px;
  }

  .latest-blog-dark-outer2 {
    height: 400px;
    margin-right: 20px;
  }

  .blog-card-large .blog-image-wrapper {
    height: 400px;
  }

  .latest-blog-square {
    right: -40px;
    width: 90%;
    top: 10px;
    max-width: 300px;
    min-height: 300px;
    padding: 10px 30px 20px 20px;
  }

  .font-30 {
    font-size: 22px;
  }

  .blog-overlay {
    padding: 20px 15px 15px 50px;
    min-height: 100px;
  }

  .blog-overlay-large {
    padding: 0;
  }

  .blog-card-title {
    font-size: 14px;
  }

  .latest-blog-square {
    display: block;
  }
}

@media (max-width: 576px) {
  .blog-section {
    padding: 40px 0;
  }

  .blog-background {
    padding-bottom: 30px;
  }

  .container1 {
    padding: 0 10px;
  }

  .blog-header {
    margin-bottom: 30px;
  }

  .blog-title {
    font-size: 24px;
    margin: 15px 0 10px 0;
  }

  .blog-description-text {
    font-size: 14px;
    -webkit-line-clamp: 4;
    margin-top: 12px;
  }

  .blog-content {
    gap: 25px;
    margin-top: -15px;
  }

  .blog-card-small {
    margin-bottom: 20px;
  }

  .blog-card-small .blog-image-wrapper {
    height: 200px;
    margin-left: 0;
  }

  .latest-blog-dark-outer {
    margin-left: 0;
  }

  .latest-blog-dark-outer2 {
    height: 300px;
    margin-right: 0;
  }

  .blog-card-large .blog-image-wrapper {
    height: 300px;
  }

  .latest-blog-square {
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    width: 100%;
    max-width: 100%;
    min-height: auto;
    padding: 20px;
    margin-top: -50px;
    background: rgba(255, 255, 255, 0.95);
  }

  .font-30 {
    font-size: 18px;
    line-height: 1.3;
  }

  .blog-overlay {
    padding: 15px 10px 10px 35px;
    min-height: 70px;
  }

  .blog-overlay-large {
    padding: 0;
  }

  .blog-card-title {
    font-size: 14px;
  }

  .latest-blog-square p {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .latest-blog-square a {
    font-size: 11px;
  }

  .v-date {
    font-size: 11px;
    bottom: 15px;
    right: 20px;
  }
}

