@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.pb-section {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.pb-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pb-overlay-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 2;
}

.pb-opacity-07 {
  opacity: 0.6;
}

.pb-bg-black {
  background-color: #000;
}

.pb-content {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  margin-left: 130px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.pb-title-outer {
  position: relative;
  padding: 70px 0px 70px 30px;
  border: 10px solid #fff;
  border-right: 0px;
  width: 200px;
}

.pb-title-outer::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 10px;
  height: 50px;
  background-color: #fff;
}

.pb-title-outer::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10px;
  height: 50px;
  background-color: #fff;
}

.pb-title-name {
  position: relative;
  width: 640px;
}

.text-white {
  color: #ffffff;
}

.text-uppercase {
  text-transform: uppercase;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.font-18 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.font-weight-300 {
  font-weight: 300;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .pb-section {
    height: 50vh;
    min-height: 350px;
  }

  .pb-content {
    margin-left: 60px;
  }

  .pb-title-outer {
    padding: 50px 0px 50px 20px;
    width: 180px;
  }

  .font-18 {
    font-size: 16px;
  }

  .letter-spacing-5 {
    letter-spacing: 3px;
  }
}

@media (max-width: 576px) {
  .pb-section {
    height: 40vh;
    min-height: 300px;
  }

  .pb-content {
    margin-left: 30px;
    padding: 0 15px;
  }

  .pb-title-outer {
    padding: 40px 0px 40px 15px;
    width: 160px;
    border-width: 8px;
  }

  .font-18 {
    font-size: 14px;
  }

  .letter-spacing-5 {
    letter-spacing: 2px;
  }
}

















